html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
html,
button,
input,
select,
textarea {
    font-family: sans-serif;
    color: #222;
}
body {
    margin: 0;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #fe57a1;
    color: #fff;
    text-shadow: none;
}
::selection {
    background: #fe57a1;
    color: #fff;
    text-shadow: none;
}

a {
    color: #72aba8;
    text-decoration: none;
}
a:hover {
    color: #249da6;
}
a:focus {
    outline: thin dotted;
}
a:hover,
a:active {
    outline: 0;
}
pre,
code,
kbd,
samp {
    font-family: monospace, serif;
    _font-family: 'courier new', monospace;
    font-size: 1em;
}
pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}
blockquote {
    margin: 1em 40px;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #333;
    margin: 2em 0;
    padding: 0;
}
small {
    font-size: 85%;
}

/* ===== Zocial =============================================================
   http://zocial.smcllns.com/
   ========================================================================== */

.zocial {
    border: 1px solid #777;
    border-color: rgba(0, 0, 0, 0.2);
    border-bottom-color: #333;
    border-bottom-color: rgba(0, 0, 0, 0.4);
    color: #fff;
    -moz-box-shadow: inset 0 0.08em 0 rgba(255, 255, 255, 0.4),
        inset 0 0 0.1em rgba(255, 255, 255, 0.9);
    -webkit-box-shadow: inset 0 0.08em 0 rgba(255, 255, 255, 0.4),
        inset 0 0 0.1em rgba(255, 255, 255, 0.9);
    box-shadow: inset 0 0.08em 0 rgba(255, 255, 255, 0.4),
        inset 0 0 0.1em rgba(255, 255, 255, 0.9);
    cursor: pointer;
    display: inline-block;
    font: bold 100%/2.1 'Lucida Grande', Tahoma, sans-serif;
    padding: 0 0.95em 0 0;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);

    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;

    position: relative;
    z-index: 100;

    -moz-border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
    border-radius: 0.3em;

    margin: 6px 4px;
    font-size: 13px;
}

.zocial:active {
    outline: none; /* outline is visible on :focus */
}

.zocial {
    background-image: -moz-linear-gradient(
        rgba(255, 255, 255, 0.1),
        rgba(255, 255, 255, 0.05) 49%,
        rgba(0, 0, 0, 0.05) 51%,
        rgba(0, 0, 0, 0.1)
    );
    background-image: -ms-linear-gradient(
        rgba(255, 255, 255, 0.1),
        rgba(255, 255, 255, 0.05) 49%,
        rgba(0, 0, 0, 0.05) 51%,
        rgba(0, 0, 0, 0.1)
    );
    background-image: -o-linear-gradient(
        rgba(255, 255, 255, 0.1),
        rgba(255, 255, 255, 0.05) 49%,
        rgba(0, 0, 0, 0.05) 51%,
        rgba(0, 0, 0, 0.1)
    );
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(rgba(255, 255, 255, 0.1)),
        color-stop(49%, rgba(255, 255, 255, 0.05)),
        color-stop(51%, rgba(0, 0, 0, 0.05)),
        to(rgba(0, 0, 0, 0.1))
    );
    background-image: -webkit-linear-gradient(
        rgba(255, 255, 255, 0.1),
        rgba(255, 255, 255, 0.05) 49%,
        rgba(0, 0, 0, 0.05) 51%,
        rgba(0, 0, 0, 0.1)
    );
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.1),
        rgba(255, 255, 255, 0.05) 49%,
        rgba(0, 0, 0, 0.05) 51%,
        rgba(0, 0, 0, 0.1)
    );
}

.zocial:hover,
.zocial:focus {
    background-image: -moz-linear-gradient(
        rgba(255, 255, 255, 0.15) 49%,
        rgba(0, 0, 0, 0.1) 51%,
        rgba(0, 0, 0, 0.15)
    );
    background-image: -ms-linear-gradient(
        rgba(255, 255, 255, 0.15) 49%,
        rgba(0, 0, 0, 0.1) 51%,
        rgba(0, 0, 0, 0.15)
    );
    background-image: -o-linear-gradient(
        rgba(255, 255, 255, 0.15) 49%,
        rgba(0, 0, 0, 0.1) 51%,
        rgba(0, 0, 0, 0.15)
    );
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(rgba(255, 255, 255, 0.15)),
        color-stop(49%, rgba(255, 255, 255, 0.15)),
        color-stop(51%, rgba(0, 0, 0, 0.1)),
        to(rgba(0, 0, 0, 0.15))
    );
    background-image: -webkit-linear-gradient(
        rgba(255, 255, 255, 0.15) 49%,
        rgba(0, 0, 0, 0.1) 51%,
        rgba(0, 0, 0, 0.15)
    );
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.15) 49%,
        rgba(0, 0, 0, 0.1) 51%,
        rgba(0, 0, 0, 0.15)
    );
}

.zocial:active {
    background-image: -moz-linear-gradient(
        bottom,
        rgba(255, 255, 255, 0.1),
        rgba(255, 255, 255, 0) 30%,
        transparent 50%,
        rgba(0, 0, 0, 0.1)
    );
    background-image: -ms-linear-gradient(
        bottom,
        rgba(255, 255, 255, 0.1),
        rgba(255, 255, 255, 0) 30%,
        transparent 50%,
        rgba(0, 0, 0, 0.1)
    );
    background-image: -o-linear-gradient(
        bottom,
        rgba(255, 255, 255, 0.1),
        rgba(255, 255, 255, 0) 30%,
        transparent 50%,
        rgba(0, 0, 0, 0.1)
    );
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(rgba(255, 255, 255, 0.1)),
        color-stop(30%, rgba(255, 255, 255, 0)),
        color-stop(50%, transparent),
        to(rgba(0, 0, 0, 0.1))
    );
    background-image: -webkit-linear-gradient(
        bottom,
        rgba(255, 255, 255, 0.1),
        rgba(255, 255, 255, 0) 30%,
        transparent 50%,
        rgba(0, 0, 0, 0.1)
    );
    background-image: linear-gradient(
        bottom,
        rgba(255, 255, 255, 0.1),
        rgba(255, 255, 255, 0) 30%,
        transparent 50%,
        rgba(0, 0, 0, 0.1)
    );
}

.zocial.download {
    background-color: #249da6;
}

.zocial {
    padding-left: 5px;
    width: 141px;
    margin-left: 0;
    margin-right: 12px;
}

/* ===== Primary Styles ========================================================
   Author: Robin Pokorný

   Color palette: http://www.colourlovers.com/palette/2193331/warm_waters
   ========================================================================== */
body {
    border-top: solid #72aba8 12px;
    background-color: #f3f3f3;
    background-color: rgba(217, 212, 173, 0.12);
    font-size: 16px;
    line-height: 24px;
    font-family: georgia, serif;
    color: #333;
    padding-bottom: 120px;
}

.main {
    width: 80%;
    margin: 80px 0 0 5%;
}

.header {
    margin-bottom: 20px;
}

h1 {
    margin: 0;
    text-transform: uppercase;
    font-family: helvetica, arial, sans serif !important;
    font-size: 10vw;
    font-weight: 900;
    line-height: 0.8;
    letter-spacing: -3px;
}

h2 {
    margin: 0;
    font-weight: normal;
    font-size: 20px;
    font-family: gill sans, helvetica, arial, sans serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.header h2 {
    line-height: 1.4;
    margin-left: 4px;
    margin-bottom: 6px;
}

.author {
    margin-top: 6px;
    margin-bottom: 0;
}

h2 em {
    text-transform: none;
}

.first {
    font-weight: normal;
    font-family: gill sans, helvetica, arial, sans serif;
    text-transform: uppercase;
    letter-spacing: 3px;
}

small {
    color: #666;
}

blockquote {
    line-height: 1.5em;
    padding: 0 0 0 1em;
    border-left: 4px solid #72aba8;
    margin: 0 0 0 15px;
}

blockquote pre {
    font-size: 80%;
    line-height: 100%;
    padding: 3px 0;
}

/* =============================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 800px) {
    .main {
        width: 580px;
        margin: 140px 0 0 140px;
    }

    h1 {
        font-size: 70px;
    }
}
